<h1>Edit</h1>
<% include templates/path_forum.ejs %>
<% if (typeof logged == 'undefined') { %>
		<div class = 'deny_message'><br /><br />You're not allowed to edit this<br /><br /></div>
<% } else { %>
<form method = 'post'>
<table class = 'final_post'>
	<tr>
		<td colspan = '6'><strong>
			<textarea name = 'postc[title]' rows = '1'><%=post_list.title%></textarea>
		</td>
		<td colspan = '3'>By <div class = 'author'><%=post_list.author%></div></td>
		<td colspan = '3'><%=post_list.date%></td>
	</tr>
	<tr>
		<td colspan = '12'>
			<div class = 'print_content'>
			<textarea name = 'postc[content]' style = 'width: 100%; height = 100%;'><%=post_list.content%></textarea>
			</div>
		</td>
	</tr>
</table>
<input type = 'submit' value = 'OK'>
</form>
<% } %>
